@mixin h-strip($dir: -3px)
  background: white
  margin: 0
  padding: 1em 2em
  box-shadow: 0 $dir 8px 0px darken(white, 50%)

body
  margin: 0
  background: lighten(black, 10%)
  &.center
    display: grid
    place-items: center
    height: 100vh
    overflow: hidden

#excalibur-play-root > #excalibur-play
  $bg: #afafaf
  background: $bg
  border-radius: 99px
  &:is(:hover, :active, :focus)
    background: darken($bg, 8%)

.ui-overlay
  position: absolute
  top: 0
  left: 0

h2
  font-size: 24px
  font-family: Arial
  font-weight: lighter

label
  font-family: Arial
  font-size: 12px

.route-screen
  display: flex
  flex-direction: column
  justify-content: space-between
  & h2
    @include h-strip
  &>div
    @include h-strip(3px)
    &>form
      display: flex
      justify-content: space-around
      &>div
        display: flex
        width: 45%
        flex-direction: column
      
