body
  margin: 0
  background: lighten(black, 10%)
  &.center
    display: grid
    place-items: center
    height: 100vh
    overflow: hidden

#excalibur-play-root > #excalibur-play
  $bg: #afafaf
  background: $bg
  border-radius: 99px
  &:is(:hover, :active, :focus)
    background: darken($bg, 8%)

.ui-overlay
  position: absolute
  top: 0
  left: 0

.route-screen
  background: white
  & p
    padding: 20px
