$bg: white
$fg: #afafaf

@mixin h-strip($dir: -3px)
  background: white
  margin: 0
  padding: 1em 2em
  box-shadow: 0 $dir 8px 0px darken(white, 50%)

@mixin icon
  display: inline-block
  background: center / cover
  image-rendering: pixelated

body
  margin: 0
  background: lighten(black, 10%)
  &.center
    display: grid
    place-items: center
    height: 100vh
    overflow: hidden

#excalibur-play-root > #excalibur-play
  background: $fg
  border-radius: 99px
  &:is(:hover, :active, :focus)
    background: darken($fg, 8%)

.ui-overlay
  position: absolute
  top: 0
  left: 0

h2
  font-size: 24px
  font-family: Arial
  font-weight: lighter

h3
  font-family: Arial
  font-size: 16px
  font-weight: normal

label
  font-family: Arial
  font-size: 12px

p
  font-family: Arial
  font-size: 16px

@mixin grad-bg($lightest)
  background: linear-gradient(darken($lightest, 5%), $lightest 90%, darken($lightest, 10%))

@mixin my-button
  font-family: Arial
  font-size: 14px
  padding: 0.5em 1em
  background: white
  color: black
  text-transform: uppercase
  border: solid 1px darken(white, 20%)
  border-radius: 4px
  $pad: 2px
  $pad-x: 1.2
  $pad-t: 0.05s
  &:not(:disabled)
    box-shadow: $pad * $pad-x $pad 0 ($pad / 2) lighten(black, 30%)
    transition: transform $pad-t, box-shadow $pad-t
    &:hover
      @include grad-bg(white)
  &:is(:active, :disabled)
    transform: translate($pad * $pad-x, $pad)
    box-shadow: none
  &:disabled
    background: darken(white, 10%)

@mixin my-button--primary
  transition: none // darkness makes animation look bad
  background: $fg
  color: white
  border: none
  &:not(:disabled):hover
    @include grad-bg($fg)

.route-screen
  display: flex
  flex-direction: column
  justify-content: space-between
  & h2
    @include h-strip
    // uses the shadow underneath it from hud strip
    box-shadow: none
  &>div
    @include h-strip(3px)
    &>form
      display: flex
      justify-content: space-between
      &>div
        display: flex
        width: 45%
        flex-direction: column
        &>p
          margin: 0.1em
    &>button
      @include my-button
      // @include my-button--primary
      width: 100%
      margin-top: 1em

.hud-strip
  &>h3
    @include h-strip
    padding: 28px 2em
    &>div
      margin-left: 3em
      display: inline-block
      &>div
        margin-right: 0.5em
        display: inline-block
        background: center / cover
        image-rendering: pixelated
        width: 16px
        height: 16px

.upgrade-screen
  background: white
  text-align: center
  &>h2
    margin-top: 40px
    &>div
      display: inline-block
      background: center / cover
      image-rendering: pixelated
      width: 32px
      height: 32px
      margin: -4px 7px
  &>h3
    margin-top: 50px
  &>div
    display: grid
    grid-template-columns: repeat(3, 1fr)
    column-gap: 10px
    margin: 10px
    .upgrade-card
      display: grid
      grid-template-rows: auto 1fr auto auto
      text-align: center
      border: 1px solid $fg
      border-radius: 10px
      &>div
        @include icon
        width: 28px
        height: 28px
      &>button
        margin: 10px
        margin-top: 20px
        @include my-button

.game-over-screen
  background: white
  text-align: center
  &>h2
    margin-top: 40px
  &>div
    &>div
      margin: 50px 4px -5px 5px
      @include icon
      width: 32px
      height: 32px
    &>span
      font-family: Arial
      font-size: 20px
      font-weight: lighter
      &:first-child
        margin-right: 10px
  &>button
    margin-top: 120px
    @include my-button
    @include my-button--primary
    width: 250px
    height: 40px
